@font-face {
  font-family: "Outfit";
  src: url("../assets/fonts/Outfit-Variable.woff2") format("woff2"), url("../assets/fonts/Outfit-Variable.woff") format("woff"), url("../assets/fonts/Outfit-Variable.ttf") format("truetype");
  font-weight: 100 900;
  font-display: swap;
  font-style: normal;
}
@font-face {
  font-family: "Outfit";
  src: url("../assets/fonts/Outfit-Thin.woff2") format("woff2"), url("../assets/fonts/Outfit-Thin.woff") format("woff"), url("../assets/fonts/Outfit-Thin.ttf") format("truetype");
  font-weight: 100;
  font-display: swap;
  font-style: normal;
}
@font-face {
  font-family: "Outfit";
  src: url("../assets/fonts/Outfit-ExtraLight.woff2") format("woff2"), url("../assets/fonts/Outfit-ExtraLight.woff") format("woff"), url("../assets/fonts/Outfit-ExtraLight.ttf") format("truetype");
  font-weight: 200;
  font-display: swap;
  font-style: normal;
}
@font-face {
  font-family: "Outfit";
  src: url("../assets/fonts/Outfit-Light.woff2") format("woff2"), url("../assets/fonts/Outfit-Light.woff") format("woff"), url("../assets/fonts/Outfit-Light.ttf") format("truetype");
  font-weight: 300;
  font-display: swap;
  font-style: normal;
}
@font-face {
  font-family: "Outfit-400";
  src: url("../assets/fonts/Outfit-Regular.woff2") format("woff2"), url("../assets/fonts/Outfit-Regular.woff") format("woff"), url("../assets/fonts/Outfit-Regular.ttf") format("truetype");
  font-weight: 400;
  font-display: swap;
  font-style: normal;
}
@font-face {
  font-family: "Outfit";
  src: url("../assets/fonts/Outfit-Medium.woff2") format("woff2"), url("../assets/fonts/Outfit-Medium.woff") format("woff"), url("../assets/fonts/Outfit-Medium.ttf") format("truetype");
  font-weight: 500;
  font-display: swap;
  font-style: normal;
}
@font-face {
  font-family: "Outfit";
  src: url("../assets/fonts/Outfit-SemiBold.woff2") format("woff2"), url("../assets/fonts/Outfit-SemiBold.woff") format("woff"), url("../assets/fonts/Outfit-SemiBold.ttf") format("truetype");
  font-weight: 600;
  font-display: swap;
  font-style: normal;
}
@font-face {
  font-family: "Outfit";
  src: url("../assets/fonts/Outfit-Bold.woff2") format("woff2"), url("../assets/fonts/Outfit-Bold.woff") format("woff"), url("../assets/fonts/Outfit-Bold.ttf") format("truetype");
  font-weight: 700;
  font-display: swap;
  font-style: normal;
}
@font-face {
  font-family: "Outfit";
  src: url("../assets/fonts/Outfit-ExtraBold.woff2") format("woff2"), url("../assets/fonts/Outfit-ExtraBold.woff") format("woff"), url("../assets/fonts/Outfit-ExtraBold.ttf") format("truetype");
  font-weight: 800;
  font-display: swap;
  font-style: normal;
}
@font-face {
  font-family: "Outfit";
  src: url("../assets/fonts/Outfit-Black.woff2") format("woff2"), url("../assets/fonts/Outfit-Black.woff") format("woff"), url("../assets/fonts/Outfit-Black.ttf") format("truetype");
  font-weight: 900;
  font-display: swap;
  font-style: normal;
}
* {
  font-family: "Outfit", sans-serif;
}

h1 {
  font-size: 2rem;
  margin-bottom: 1rem;
}
@media only screen and (min-width: 850px) {
  h1 {
    font-size: 3.5rem;
  }
}

h4 {
  margin-bottom: 0.4rem;
}

.container {
  width: 100%;
  max-width: 1250px;
  margin: auto;
  padding: 0 1rem;
  position: relative;
}

.section-title {
  display: none;
  position: absolute;
  font-size: 6rem;
  font-weight: 700;
  opacity: 0.2;
  text-align: center;
  padding: 1rem;
}
.section-title span {
  color: #ffa42c;
}

.btn {
  display: inline-block;
  padding: 0.8rem 2rem;
  background: #f5f5f5;
  outline: none;
  border: 0.1rem solid rgba(254, 254, 254, 0);
  border-radius: 1rem;
  text-transform: capitalize;
  font-size: 1rem;
  font-weight: 600;
  color: #000;
  text-decoration: none;
  cursor: pointer;
  transition: 0.2s ease-in-out;
}
.btn:hover {
  background-color: #090909;
  color: #fff;
  border-color: #fff;
}
.btn.btn-outline {
  border-color: #f5f5f5;
  background: none;
}
.btn.btn-green {
  background: #05ddd7;
}
.btn.btn-green:hover {
  background: none;
  color: #05ddd7;
  border-color: #05ddd7;
}
.btn.btn-green-outline {
  border-color: #05ddd7;
  background: none;
  color: #090909;
}
.btn.btn-green-outline:hover {
  background: #05ddd7;
  color: #000;
}
.btn.btn-orange {
  background: #ffa42c;
}
.btn.btn-orange:hover {
  border-color: #ffa42c;
  background: none;
  color: #ffa42c;
}
.btn.btn-orange-outline {
  border-color: #ffa42c;
  background: none;
  color: #090909;
}
.btn.btn-orange-outline:hover {
  background: #ffa42c;
}
.btn.btn-black {
  background: #090909;
}
.btn.btn-black:hover {
  background: #017a76;
  color: #fff;
}
.btn.btn-black-outline {
  border-color: #090909;
}
.btn.btn-black-outline:hover {
  background: #017a76;
  color: #fff;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  scroll-behavior: smooth;
}

body {
  height: 100vh;
  background: #090909;
  color: #f5f5f5;
  overflow-x: hidden;
  height: 100%;
  width: 100vw;
}
body #blob_one {
  position: absolute;
  z-index: -100;
  opacity: 0.2;
  right: -270%;
}
@media only screen and (min-width: 850px) {
  body #blob_one {
    right: -40%;
  }
}
body #blob_two {
  position: absolute;
  top: 200vh;
  z-index: -100;
  left: -250%;
  opacity: 0.2;
}
@media only screen and (min-width: 850px) {
  body #blob_two {
    left: -40%;
  }
}
body #blob_three {
  position: absolute;
  top: 380vh;
  z-index: -100;
  right: -250%;
  opacity: 0.2;
}
@media only screen and (min-width: 850px) {
  body #blob_three {
    right: -40%;
  }
}
body header.main-header {
  padding: 1rem;
  z-index: 90;
}
body header.main-header .contents {
  display: flex;
  align-items: center;
  justify-content: space-between;
  max-width: 1250px;
  margin: auto;
}
body header.main-header .logo {
  flex: 1;
}
body header.main-header .logo img {
  width: 160px;
}
body header.main-header .menu {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 40px;
  height: 40px;
  cursor: pointer;
  position: relative;
}
body header.main-header .menu.open .menu-burger {
  transform: translateX(-2rem);
  background: none;
}
body header.main-header .menu.open .menu-burger::before {
  transform: rotate(45deg) translate(1rem, -1rem);
}
body header.main-header .menu.open .menu-burger::after {
  transform: rotate(-45deg) translate(1rem, 1rem);
}
body header.main-header .menu .menu-burger {
  width: 28px;
  height: 3px;
  background: #ffa42c;
  border-radius: 1rem;
  transition: 0.4s all ease-in-out;
}
body header.main-header .menu .menu-burger::before, body header.main-header .menu .menu-burger::after {
  content: "";
  position: absolute;
  width: 28px;
  height: 3px;
  background: #f5f5f5;
  border-radius: 1rem;
  transition: 0.4s all ease-in-out;
}
body header.main-header .menu .menu-burger::before {
  transform: translateY(-0.6rem);
}
body header.main-header .menu .menu-burger::after {
  transform: translateY(0.6rem);
}
body section.hero-banner-section {
  height: 100vh;
  max-height: 700px;
  display: flex;
  align-items: center;
  justify-content: center;
}
body section.hero-banner-section .contents {
  padding: 1rem;
}
@media only screen and (min-width: 850px) {
  body section.hero-banner-section .contents {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: row-reverse;
  }
}
body section.hero-banner-section .contents .hero-banner-image {
  display: grid;
  place-content: center;
  margin-bottom: 1rem;
}
body section.hero-banner-section .contents .hero-banner-image img {
  width: 200px;
}
@media only screen and (min-width: 850px) {
  body section.hero-banner-section .contents .hero-banner-image img {
    width: 300px;
    max-width: 350px;
  }
}
body section.hero-banner-section .contents .hero-banner-texts h1 {
  margin-bottom: 1.5rem;
  max-width: 550px;
  -webkit-clip-path: polygon(0% 100%, 0% 100%, 0% 0%, 0% 0%);
          clip-path: polygon(0% 100%, 0% 100%, 0% 0%, 0% 0%);
}
body section.hero-banner-section .contents .hero-banner-texts h1 span {
  color: #ffa42c;
}
body section.hero-banner-section .contents .hero-banner-texts .cta-btns {
  width: 100%;
  max-width: 400px;
  box-sizing: border-box;
}
body section.hero-banner-section .contents .hero-banner-texts .cta-btns .btn {
  transform: translateY(200px);
  opacity: 0;
}
body section.hero-banner-section .contents .hero-banner-texts .cta-btns .btn.shop-now {
  border-radius: 1rem 0.3rem 3rem 1rem;
  box-sizing: border-box;
  width: 49%;
  text-align: center;
  color: #ffa42c;
}
body section.hero-banner-section .contents .hero-banner-texts .cta-btns .btn.shop-now:hover {
  color: #090909;
}
body section.hero-banner-section .contents .hero-banner-texts .cta-btns .btn.deliver-now {
  border-radius: 3rem 0.3rem 1rem 0.3rem;
  box-sizing: border-box;
  width: 49%;
  text-align: center;
  color: #05ddd7;
}
body section.hero-banner-section .contents .hero-banner-texts .cta-btns .btn.deliver-now:hover {
  color: #090909;
}
body section.hero-banner-section .contents .hero-banner-texts .cta-btns .btn.sell-now {
  border-radius: 1rem;
  box-sizing: border-box;
  width: 100%;
  text-align: center;
  margin-top: 1rem;
  color: #ffa42c;
}
body section.hero-banner-section .contents .hero-banner-texts .cta-btns .btn.sell-now:hover {
  color: #090909;
}
body section.shop-now-section {
  margin: 8rem 0;
}
body section.shop-now-section .section-title {
  top: 7%;
}
body section.shop-now-section .contents {
  margin-top: 6rem;
}
@media only screen and (min-width: 850px) {
  body section.shop-now-section .contents {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 2rem;
  }
}
body section.shop-now-section .contents .image-container {
  display: grid;
  place-content: center;
  margin-bottom: 2rem;
}
body section.shop-now-section .contents .image-container img {
  width: 250px;
}
@media only screen and (min-width: 850px) {
  body section.shop-now-section .contents .image-container img {
    width: 450px;
  }
}
body section.shop-now-section .contents .texts-contents h1 {
  width: 300px;
}
body section.shop-now-section .contents .texts-contents h1 span {
  color: #ffa42c;
}
@media only screen and (min-width: 850px) {
  body section.shop-now-section .contents .texts-contents h1 {
    width: 400px;
  }
}
body section.shop-now-section .contents .texts-contents p {
  margin-bottom: 1.5rem;
  max-width: 420px;
}
body section.sell-now-section {
  margin: 8rem 0;
}
body section.sell-now-section .section-title {
  top: 7%;
}
body section.sell-now-section .contents {
  margin-top: 6rem;
}
@media only screen and (min-width: 850px) {
  body section.sell-now-section .contents {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 2rem;
    flex-direction: row-reverse;
  }
}
body section.sell-now-section .contents .image-container {
  display: grid;
  place-content: center;
  margin-bottom: 2rem;
}
body section.sell-now-section .contents .image-container img {
  width: 250px;
}
@media only screen and (min-width: 850px) {
  body section.sell-now-section .contents .image-container img {
    width: 450px;
  }
}
body section.sell-now-section .contents .texts-contents h1 {
  width: 300px;
}
body section.sell-now-section .contents .texts-contents h1 span {
  color: #ffa42c;
}
@media only screen and (min-width: 850px) {
  body section.sell-now-section .contents .texts-contents h1 {
    width: 400px;
  }
}
body section.sell-now-section .contents .texts-contents p {
  margin-bottom: 1.5rem;
  max-width: 420px;
}
body section.sell-now-extras {
  margin: 8rem 0;
  margin-bottom: 16rem;
}
body section.sell-now-extras .contents {
  margin-bottom: -4rem;
}
body section.sell-now-extras h1 {
  margin-bottom: 1rem;
}
@media only screen and (min-width: 390px) {
  body section.sell-now-extras h1 {
    margin-bottom: 2rem;
  }
}
body section.sell-now-extras h1 span {
  color: #05ddd7;
}
body section.sell-now-extras .cards {
  display: flex;
  gap: 1rem;
  flex-direction: column;
}
@media only screen and (min-width: 850px) {
  body section.sell-now-extras .cards {
    flex-direction: row;
    gap: 3rem;
  }
}
body section.sell-now-extras .cards .card {
  flex: 1;
  background: #161616;
  border-radius: 1rem;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  align-self: auto;
  box-shadow: 5px 3px 10px #000;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
body section.sell-now-extras .cards .card.invoice a.ext-link {
  color: #69d9ce;
}
@media only screen and (min-width: 850px) {
  body section.sell-now-extras .cards .card.invoice {
    background: #161616;
  }
}
body section.sell-now-extras .cards .card.convenience a.ext-link {
  color: #69afd9;
}
@media only screen and (min-width: 850px) {
  body section.sell-now-extras .cards .card.convenience {
    background: #161616;
  }
}
body section.sell-now-extras .cards .card.supports a.ext-link {
  color: #f1ca87;
}
@media only screen and (min-width: 850px) {
  body section.sell-now-extras .cards .card.supports {
    background: #161616;
  }
}
@media only screen and (min-width: 850px) {
  body section.sell-now-extras .cards .card {
    background: #161616;
  }
}
body section.sell-now-extras .cards .card .card-header {
  border-radius: 1rem;
  border-bottom-right-radius: 0;
  border-bottom-left-radius: 0;
  overflow: hidden;
  padding: 0;
  flex: 0 0 auto;
}
@media only screen and (min-width: 850px) {
  body section.sell-now-extras .cards .card .card-header {
    display: flex;
  }
}
body section.sell-now-extras .cards .card .card-header img {
  width: 100%;
}
body section.sell-now-extras .cards .card .card-body-contents {
  padding: 1rem 1.5rem;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  flex: 30%;
  margin-bottom: 1rem;
}
body section.sell-now-extras .cards .card .card-body-contents h2 {
  margin-bottom: 1rem;
}
@media only screen and (min-width: 850px) {
  body section.sell-now-extras .cards .card .card-body-contents h2 {
    margin-bottom: 1rem;
  }
}
body section.sell-now-extras .cards .card .card-body-contents p {
  width: 70%;
}
@media only screen and (min-width: 850px) {
  body section.sell-now-extras .cards .card .card-body-contents p {
    display: block;
  }
}
body section.sell-now-extras .cards .card .card-call-to-action {
  padding: 0 1.5rem 1rem;
  flex: 0 auto;
}
body section.sell-now-extras .cards .card .card-call-to-action a {
  display: inline-block;
  height: 5%;
  text-decoration: none;
  font-weight: 700;
  color: #ffa42c;
}
body section.sell-now-extras .cards .card .card-call-to-action a:hover {
  text-decoration: underline;
}
body section.deliver-now-section .section-title {
  top: 7%;
}
@media only screen and (min-width: 850px) {
  body section.deliver-now-section .contents {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 3rem;
  }
}
body section.deliver-now-section .contents .image-container {
  display: grid;
  place-content: center;
  position: relative;
  margin-bottom: 2rem;
}
@media only screen and (min-width: 850px) {
  body section.deliver-now-section .contents .image-container img.lg {
    display: block;
  }
  body section.deliver-now-section .contents .image-container img.sm {
    display: none;
  }
}
body section.deliver-now-section .contents .image-container img.pattern {
  position: absolute;
  z-index: -1;
  width: 200px;
  bottom: -50%;
  left: 35%;
}
body section.deliver-now-section .contents .image-container img {
  width: 100%;
  border-radius: 1rem;
}
@media only screen and (min-width: 850px) {
  body section.deliver-now-section .contents .image-container img {
    width: 450px;
  }
}
body section.deliver-now-section .contents .texts-contents h1 {
  width: 300px;
}
body section.deliver-now-section .contents .texts-contents h1 span {
  color: #ffa42c;
}
@media only screen and (min-width: 850px) {
  body section.deliver-now-section .contents .texts-contents h1 {
    width: 400px;
  }
}
body section.deliver-now-section .contents .texts-contents p {
  margin-bottom: 1.5rem;
  max-width: 420px;
}
body section.more-info-section {
  margin: 8rem 0;
}
body section.more-info-section .contents header.more-info-header {
  display: flex;
  align-items: flex-end;
  justify-content: center;
  gap: 3rem;
  flex-direction: column;
  margin-bottom: 4rem;
}
@media only screen and (min-width: 850px) {
  body section.more-info-section .contents header.more-info-header {
    flex-direction: row;
  }
}
body section.more-info-section .contents header.more-info-header .texts h2 {
  flex: 1;
  font-size: 2.9rem;
}
body section.more-info-section .contents header.more-info-header .texts p {
  color: #ffa42c;
  font-style: italic;
}
body section.more-info-section .contents header.more-info-header .form-field {
  flex: 1;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 0.5rem;
}
body section.more-info-section .contents header.more-info-header .form-field input {
  outline: none;
  background: #f5f5f5;
  border: 1px solid #f5f5f5;
  width: 400px;
  padding: 0.8rem 1rem;
  font-size: 1rem;
  border-radius: 0.3rem;
  transition: 0.3s;
}
body section.more-info-section .contents header.more-info-header .form-field input:focus {
  border-color: #ffa42c;
}
body section.more-info-section .contents header.more-info-header .form-field button {
  border-radius: 0.3rem;
  outline: none;
  border: none;
  background: #ffa42c;
  color: #090909;
  padding: 0.8rem 1rem;
  font-size: 1rem;
  text-transform: capitalize;
  cursor: pointer;
  border: 1px solid #ffa42c;
  transition: 0.3s;
}
body section.more-info-section .contents header.more-info-header .form-field button:hover {
  background: none;
  color: #f5f5f5;
}
body section.more-info-section .contents main.stats {
  width: 95%;
  margin: auto;
}
body section.more-info-section .contents main.stats .stats-contents {
  display: flex;
  gap: 1rem;
  flex-direction: column;
}
@media only screen and (min-width: 850px) {
  body section.more-info-section .contents main.stats .stats-contents {
    flex-direction: row;
  }
}
body section.more-info-section .contents main.stats .stats-contents .stat {
  flex: 1;
  padding: 1rem;
  position: relative;
}
body section.more-info-section .contents main.stats .stats-contents .stat:hover::before {
  width: 1rem;
  height: 1rem;
  left: -6%;
}
body section.more-info-section .contents main.stats .stats-contents .stat:hover::after {
  width: 3px;
  left: -4%;
  background: #ffa42c;
}
body section.more-info-section .contents main.stats .stats-contents .stat::before {
  content: "";
  width: 0.6rem;
  height: 0.6rem;
  border-radius: 50%;
  background: #ffa42c;
  position: absolute;
  left: -5%;
  top: 10%;
  transition: 0.3s;
}
body section.more-info-section .contents main.stats .stats-contents .stat::after {
  content: "";
  width: 1px;
  height: 65%;
  background: #05ddd7;
  position: absolute;
  left: -3.5%;
  top: 25%;
  border-radius: 4rem;
  transition: 0.3s;
}
body section.more-info-section .contents main.stats .stats-contents .stat .contents .stat-header {
  margin-bottom: 2rem;
}
body section.more-info-section .contents main.stats .stats-contents .stat .contents p {
  margin-bottom: 1rem;
}
body section.marketplace-section {
  margin: 8rem 0;
}
body section.marketplace-section .section-title {
  top: 7%;
}
body section.marketplace-section .contents {
  margin-top: 6rem;
}
@media only screen and (min-width: 850px) {
  body section.marketplace-section .contents {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 2rem;
  }
}
body section.marketplace-section .contents .image-container {
  display: grid;
  place-content: center;
  margin-bottom: 2rem;
}
@media only screen and (min-width: 850px) {
  body section.marketplace-section .contents .image-container img.lg {
    display: block;
  }
  body section.marketplace-section .contents .image-container img.sm {
    display: none;
  }
}
body section.marketplace-section .contents .image-container img.lg {
  display: none;
}
body section.marketplace-section .contents .image-container img {
  width: 350px;
  border-radius: 1rem;
}
@media only screen and (min-width: 850px) {
  body section.marketplace-section .contents .image-container img {
    width: 450px;
  }
}
body section.marketplace-section .contents .texts-contents h1 {
  width: 300px;
}
body section.marketplace-section .contents .texts-contents h1 span {
  color: #ffa42c;
}
@media only screen and (min-width: 850px) {
  body section.marketplace-section .contents .texts-contents h1 {
    width: 400px;
  }
}
body section.marketplace-section .contents .texts-contents p {
  margin-bottom: 1.5rem;
  max-width: 420px;
}
body footer.main-footer {
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}/*# sourceMappingURL=style.css.map */